asgiref==3.3.1
Django==3.1.5
django-filter==2.4.0
django-widget-tweaks==1.4.8
joblib==1.0.0
numpy==1.19.5
Pillow==8.1.0
pytz==2020.5
PyYAML==5.3.1
scikit-learn==0.24.0
scipy==1.6.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
