<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container-fluid">
  <div class="col">
    <div class="row">
      {% block sidebar %}
      <ul class="sidebar-nav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'cabinet' %}">Личный кабинет</a></li>
          <li><a href="{% url 'pass' %}">Люди</a></li>
          <li><a href="{% url 'treatment_list' %}">Библиотека снимков</a></li>
          <li><a href="{% url 'pass' %}">Справка</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Войти</a></li>
          <li><a href="{% url 'pass' %}">Люди</a></li>
          <li><a href="{% url 'treatment_list' %}">Библиотека снимков</a></li>
          <li><a href="{% url 'pass' %}">Справка</a></li>
        {% endif %}
      </ul>
      {% endblock %}
    </div>
    <div class="col-sm-10 ">
      <h1>{{ header }}</h1>
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>