{% extends "nav_bar.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/treatment_list.css' %}">
<h1>Библиотека снимков</h1>


<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" value="Найти"/>
</form>


<div class="row search">
    <div class="col-auto d-flex align-items-center">
        <img src="{% static 'assets/svg/loupe-grey.svg' %}" alt="Loupe icon">
    </div>
    <div class="col-auto p-0">
        <input id="searchLine" type="text" placeholder="Поиск">
    </div>
</div>

<div class="library">
    <div class="list">
        {% if filter.qs %}
        <ul>
            {% for treatment in filter.qs %}
            <li>
                <a href="{{treatment.get_absolute_url}}">
                    {% if treatment.snapshot %}
                        {{ treatment.get_snapshot_html }}
                    {% endif %}
                    <p>ТЕКСТ ДЛЯ ПОИСКА ЗДЕСЬ</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
         <p>По данному запросу ничего не найдено</p>
        {% endif %}
    </div>
</div>

{% load static %}
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}