#id_profile_image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	min-width: 100px;
}

